@using JobBoardPlatform.PL.Controllers.Login;
@model UserLoginViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-column aligns-items-center justify-content-center min-vh-100 mx-auto" style="max-width: 762px; margin-top: -56px;">
    <h1 class="text-center">Get started for free</h1>
    <!-- Render authorization buttons -->
    @{
            ViewData["AuthorizationButtonsText"] = "Sign in with";
    }
    @await Html.PartialAsync("./Login/_LoginProviderButtons", Model)

    <!-- Render shared login form and pass controller name -->
    @{
        ViewData["LoginControllerName"] = "EmployeeLogin";
        ViewData["RegisterControllerName"] = "EmployeeRegister";
    }
    @await Html.PartialAsync("./Login/_Login", Model)
</div>
