@model UserLoginViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-column aligns-items-center justify-content-center mh-100">
    <h1 class="text-center">Get started for free</h1>
    <!-- Render shared login form and pass controller name -->
    @{
        ViewData["LoginControllerName"] = "EmployeeLogin";
        ViewData["RegisterControllerName"] = "EmployeeRegister";
    }
    @await Html.PartialAsync("./Login/_Login", Model)
    <div class="col-md-12 text-center mt-2">
        <hr class="my-12" />
        <div>
            <p>or sign in with:</p>
            <button type="button" class="btn btn-secondary btn-floating mx-1 mb-3">
                <div class="d-flex align-items-center">
                    <i class="bi bi-google fs-5 mx-2"></i>
                    <div>Sign in with Google</div>
                </div>
            </button>
            <button type="button" class="btn btn-secondary btn-floating mx-1 mb-3">
                <div class="d-flex align-items-center">
                    <i class="bi bi-github fs-5 mx-2"></i>
                    <div>Sign in with Github</div>
                </div>
            </button>
            <button type="button" class="btn btn-secondary btn-floating mx-1 mb-3">
                <div class="d-flex align-items-center">
                    <i class="bi bi-linkedin fs-5 mx-2"></i>
                    <div>Sign in with LinkedIn</div>
                </div>
            </button>
            <button type="button" class="btn btn-secondary btn-floating mx-1 mb-3">
                <div class="d-flex align-items-center">
                    <i class="bi bi-facebook fs-5 mx-2"></i>
                    <div>Sign in with Facebook</div>
                </div>
            </button>
        </div>
    </div>
</div>
