@using JobBoardPlatform.PL.ViewModels.OfferViewModels.Company;

@model CompanyApplicationsViewModel
@{
    var offerCard = Model.OfferCard;
    var applicationCards = Model.Applications;
}

<div class="container-xl px-4 mt-4">

    <!-- Account page navigation-->
    @await Html.PartialAsync("./ProfileTabs/_CompanyProfileTabs")

    <div class="mb-5 card">
        <div class="card-header d-flex justify-content-between">
            <div>
                Job offer
            </div>
            <div class="d-flex flex-row">
                <div class="me-3">
                    <i class="bi bi-eye"></i> @Model.TotalViewsCount
                </div>
                <div class="me-3">
                    <i class="bi bi-send"></i> @Model.TotalApplications
                </div>
            </div>
        </div>
        @await Html.PartialAsync("./JobOffers/_JobOffer", offerCard)
    </div>

    <div id="applications-container" class="border">
        @await Html.PartialAsync("./Templates/_CardsContainer", applicationCards)
    </div>
</div>