@using JobBoardPlatform.PL.ViewModels.Models.Offer.Payment;
@model OfferCardViewModel
@{
    ViewData["Title"] = $"Payment";
}

<div class="container-xl px-4 pt-4">

    <!-- Account page navigation-->
    @await Html.PartialAsync("./ProfileTabs/_ProfileTabs")

    <div class="card border-0 shadow-lg p-2">

        <h5 class="text-center mt-5">
            🎉 Payment confirmed! 🎉
            Your offer is now live and visible to our community. 🚀
        </h5>

        <div class="mb-2">
            <div class="card-header border-bottom-0 bg-transparent d-flex align-items-center justify-content-between">
                <strong>Offer card</strong>
            </div>
            <div class="card-body">
                <div class="bg-info bg-opacity-10 py-1">
                    <div class="mx-2 my-2 card border-0">
                        <partial name="./JobOffers/_JobOffer" model="@Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>