@using JobBoardPlatform.PL.ViewModels.Models.Offer.Payment;
@model OfferPaymentFormViewModel
@{
    ViewData["Title"] = $"Payment";
}

<div class="container-xl px-4 pt-4">

    <!-- Account page navigation-->
    @await Html.PartialAsync("./ProfileTabs/_ProfileTabs")

    <form method="post">
        <div class="card border-0 shadow-lg p-2">
            
            <div class="mb-2">
                <partial name="./JobOffers/_JobOfferPaymentForm" for="@Model" />
            </div>

            <!-- Submit button -->
            <div class="card-body">
                <a asp-action="CheckOut" asp-route-offerId="@Model.OfferId" class="btn btn-primary btn-block">Check Out</a>
            </div>
        </div>
    </form>
</div>