@using JobBoardPlatform.PL.Interactors.Notifications;
@using JobBoardPlatform.PL.ViewModels.Models.Offer.Payment;
@model OfferPaymentFormViewModel
@{
    ViewData["Title"] = $"Payment";

    var paymentNotification = NotificationsManager.Instance.TryGetNotification(
            NotificationsManager.PaymentSection, TempData);
}

<div class="container-xl px-4 pt-4">

    <!-- Account page navigation-->
    <partial name="./ProfileTabs/_ProfileTabs"/>

    <div class="card border-0 shadow-lg p-2">

        <div class="card-body">
            <!-- Notification -->
            <partial name="./Notifications/_ActionNotification" model="paymentNotification" />

            <!-- Payment form -->
            <partial name="./JobOffers/_JobOfferPaymentForm" for="@Model" />

            <!-- Submit button -->
            <div class="card-body">
                <a asp-action="CheckOut" asp-route-offerId="@Model.OfferId" class="w-100 btn btn-success btn-block"><i class="bi bi-lock-fill"></i> Checkout</a>
            </div>
        </div>
    </div>
</div>