@model CompanyRegisterViewModel
@{
    ViewData["Title"] = "Company";
}

<div class="d-flex flex-column aligns-items-center justify-content-center mh-100">
    <h1 class="text-center mb-5">Register</h1>

    <!-- Render shared login form and pass controller name -->
    @{
        ViewData["LoginControllerName"] = "CompanyLogin";
    }
    <div class="container px-5">
        <form method="post" class="d-flex flex-column aligns-items-center my-4">
            <div class="form-floating mb-5">
                <input asp-for="CompanyName" id="companyNameInput" class="form-control" placeholder="Company name">
                <label asp-for="CompanyName" for="companyNameInput">Company name</label>
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            @await Html.PartialAsync("./Register/_Register", Model)
         </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}