@model UserLoginViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-column aligns-items-center justify-content-center mh-100">
    <h1 class="text-center">Login</h1>
    <div class="container px-5">
        <form method="post" class="d-flex flex-column aligns-items-center my-4">
            <div class="form-floating mb-3">
                <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label asp-for="Email" for="floatingInput">Email address</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label asp-for="Password" for="floatingPassword">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>

                <a asp-controller="Register" asp-action="Employee" class="text-light" style="text-decoration: none;"><b>Forgot password?</b></a>
            </div>
            <div class="col-md-12 text-center mt-4">
                <button type="submit" class="btn btn-primary px-5 py-1 btn-lg rounded-pill">Sign in</button>
            </div>
            <div class="col-md-12 text-center mt-2">
                <b>
                    <label class="text-dark">New account?</label>
                    <a asp-controller="Register" asp-action="Employee" class="text-light" style="text-decoration: none;">Register</a>
                </b>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
