@model EditOfferViewModel
@{
    if (Model == null)
    {
        ViewData["Title"] = $"New Ad";
    }
    else
    {
        ViewData["Title"] = $"Edit Ad";
    }
}

<div class="container-xl px-4 pt-4">
    <!-- Account page navigation-->
    @await Html.PartialAsync("./ProfileTabs/_ProfileTabs")

    <form method="post">
        <div class="card border-0 shadow-lg p-2">
            
            <div class="mb-2" asp-action="Editor">
                <partial name="./JobOffers/_JobOfferForm" for="@Model" />
            </div>

            <!-- Submit button -->
            <div class="card-body">
                <button type="submit" class="btn btn-primary btn-block">Go Next</button>
            </div>
        </div>
    </form>
</div>