@using JobBoardPlatform.PL.Controllers.RestorePassword;
@using JobBoardPlatform.PL.Controllers.Utils;
@using JobBoardPlatform.PL.Interactors.Notifications;

@model UserLoginViewModel
@{
    string restoreControllerName = ControllerUtils.GetControllerName(typeof(RestorePasswordController));
    string registerControllerName = ViewData["RegisterControllerName"] as string;

    var failedLogin = NotificationsManager.Instance.TryGetNotification(
        NotificationsManager.LoginSection, TempData);
}

@await Html.PartialAsync("./Notifications/_ActionNotification", failedLogin)

<div>
    <form method="post" class="d-flex flex-column aligns-items-center">
        <div class="form-floating mb-3">
            <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label asp-for="Email" for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label asp-for="Password" for="floatingPassword">Password</label>

            <a asp-controller=@restoreControllerName asp-action="Restore" class="text-primary" style="text-decoration: none;"><b>Forgot password?</b></a>
        </div>
        <div class="col-md-12 text-center mt-4 mb-4">
            <button type="submit" class="btn btn-primary px-5 py-1 btn-lg rounded-pill">Sign in</button>
        </div>
        <div class="col-md-12 text-center mt-2">
            <b>
                <label class="text-dark">New account?</label>
                <a asp-controller=@registerControllerName asp-action="Register" class="text-primary" style="text-decoration: none;">Register</a>
            </b>
        </div>
    </form>
</div>

