@using JobBoardPlatform.PL.Controllers.Register;
@using JobBoardPlatform.PL.ViewModels.Models.Registration;

@model CompanyPublishOfferAndRegisterViewModel
@{
    ViewData["Title"] = "Post a job";
}

<div class="container-xl px-4 pt-4">
    <partial name="./Register/_CompanyRegistrationStageIndicator" model="1" />

    <form method="post" enctype="multipart/form-data">
        <div class="card border-0 shadow-lg p-2">
            <div>
                <div class="card-header border-bottom-0 bg-transparent d-flex align-items-center justify-content-between">
                    <strong>About company</strong>
                    <a href="@Url.Action($"{CompanyRegistrationWithOfferPublishController.AdsPricingAction}")" class="btn btn-outline-primary">
                        <i class="bi bi-arrow-left"></i>
                        Back
                    </a>
                </div>
                <div class="card-body">
                    <partial name="./Register/_CompanyRegistrationForm" for="@Model.CompanyProfileData" />
                </div>
            </div>

            <div class="mb-2">
                <partial name="./JobOffers/_JobOfferForm" for="@Model.EditOffer" />
            </div>

            <!-- Submit button -->
            <div class="card-body pt-0">
                <button type="submit" class="btn btn-primary btn-block">Go Next</button>
            </div>
        </div>
    </form>
</div>