@using JobBoardPlatform.PL.Controllers.Register;
@using JobBoardPlatform.PL.ViewModels.Models.Registration;

@model CompanyVerifyPublishOfferAndRegistrationViewModel
@{
    ViewData["Title"] = "Post a job";
    string tokenId = Model.FormDataTokenId;
}

<div class="container-xl px-4 pt-4">

    <partial name="./Register/_CompanyRegistrationStageIndicator" model="2" />

    <div class="card border-0 shadow-lg p-2">
        <div class="card-header border-bottom-0 bg-transparent d-flex align-items-center justify-content-between">
            <div></div>
            <a class="btn btn-outline-primary" asp-action="StartPostOfferAndRegister" asp-route-formDataTokenId="@tokenId">
                <i class="bi bi-arrow-left"></i>
                Back
            </a>
        </div>
        @if (Model.IsTokenConfirmed)
        {
            <div class="card-header border-bottom-0 bg-transparent d-flex align-items-center justify-content-between">
                <strong>Offer card</strong>
            </div>
            <div class="card-body">
                <div class="bg-info bg-opacity-10 py-1">
                    <div class="mx-2 my-2 card border-0">
                        <partial name="./JobOffers/_JobOffer" model="@Model.OfferCard" />
                    </div>
                </div>
                <div class="mt-2">
                    <a class="btn btn-sm btn-outline-secondary me-2" asp-action="StartPostOfferAndRegister" asp-route-formDataTokenId="@tokenId">
                        <i class="bi bi-arrow-left"></i>
                        Back to edit
                    </a>
                    <a class="btn btn-sm btn-outline-secondary" asp-action="StartPostOfferAndRegister" asp-route-formDataTokenId="@tokenId">
                        <i class="bi bi-file-text"></i>
                        Check preview
                    </a>
                </div>
            </div>
        }
        else
        {
            <div>
                <div class="card-header border-bottom-0 bg-transparent d-flex align-items-center justify-content-between">
                    <strong>Sign up</strong>
                </div>
                <div class="card-body">
                    <form method="post">
                        <partial name="./Register/_Register" for=@Model.UserRegister />
                    </form>
                </div>
            </div>
        }
    </div>
</div>