@using JobBoardPlatform.PL.Controllers.Register;
@using JobBoardPlatform.PL.Interactors.Notifications;
@using JobBoardPlatform.PL.ViewModels.Models.Registration;

@model CompanyVerifyPublishOfferAndRegistrationViewModel
@{
    ViewData["Title"] = "Post a job";
    ViewData["IsHideSignIn"] = true;
    string tokenId = Model.FormDataTokenId;

    var paymentNotification = NotificationsManager.Instance.TryGetNotification(
        NotificationsManager.PaymentSection, TempData);

    int stage = 2;
    if (Model.PaymentForm.OfferCard.Id != 0)
    {
        stage = 3;
    }
}

<div class="container-xl px-4 pt-4">

    <partial name="./Register/_CompanyRegistrationStageIndicator" model="@stage" />

    <div class="card border-0 shadow-lg p-2">
        <div class="card-header border-bottom-0 bg-transparent d-flex align-items-center justify-content-between">
            <div></div>
            <a class="btn btn-outline-primary" asp-action="StartPostOfferAndRegister" asp-route-formDataTokenId="@tokenId">
                <i class="bi bi-arrow-left"></i>
                Back
            </a>
        </div>
        @if (Model.IsTokenConfirmed)
        {
            <div class="card-body mb-2">
                <!-- Notification -->
                <partial name="./Notifications/_ActionNotification" model="paymentNotification" />

                <!-- Payment form -->
                <partial name="./JobOffers/_JobOfferPaymentForm" for="@Model.PaymentForm" />
            </div>

            <!-- Submit button -->
            <div class="card-body">
                <a asp-action="CheckOut" asp-controller="CompanyOfferPayment" asp-route-offerId="@Model.PaymentForm.OfferCard.Id" class="btn btn-primary btn-block">Check Out</a>
            </div>
        }
        else
        {
            <div>
                <div class="card-header border-bottom-0 bg-transparent d-flex align-items-center justify-content-between">
                    <strong>Sign up</strong>
                </div>
                <div class="card-body">
                    <form method="post">
                        <partial name="./Register/_Register" for=@Model.UserRegister />
                    </form>
                </div>
            </div>
        }
    </div>
</div>