@{
    string currentAction = ViewContext.RouteData.Values["Action"].ToString();
}

<nav class="nav">
    <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link @(currentAction == "Profile" ? "active ms-0" : "")"
               asp-controller="CompanyProfile" asp-action="Profile">Company profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentAction == "Offers" ? "active ms-0" : "")"
               asp-controller="CompanyOffersPanel" asp-action="Offers">Manage Ads</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentAction == "Security" ? "active ms-0" : "")"
               asp-controller="CompanySecurity" asp-action="Security">Security</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentAction == "Preferences" ? "active ms-0" : "")"
               asp-controller="CompanyPreferences" asp-action="Preferences">Preferences</a>
        </li>
    </ul>
</nav>
<hr class="mt-0 mb-4">