@using JobBoardPlatform.PL.Controllers.Presenters;
@using JobBoardPlatform.PL.Interactors.Notifications;

@model UserPasswordViewModel
@{
    ViewData["Title"] = $"Reset password";
    string password = Model.Password;
    string repeatPassword = Model.RepeatPassword;
    var resetPassword = NotificationsManager.Instance.TryGetNotification(
        NotificationsManager.ResetPasswordSection, TempData);
}

<div class="d-flex flex-column aligns-items-center justify-content-center min-vh-100 mx-auto" style="max-width: 512px; margin-top: -56px;">
    <div class="d-flex flex-column aligns-items-center justify-content-center mh-100">
        <h2 class="text-center mb-4">Set new password</h2>
        <div class="mb-4">
            Please enter your new password and confirm it in the fields below.
            Remember to choose a strong and unique password for enhanced security.
        </div>
        @await Html.PartialAsync("./Notifications/_ActionNotification", resetPassword)
        <div>
            <form method="post" class="d-flex flex-column aligns-items-center">
                <div class="form-floating mb-3">
                    <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password" value="@password">
                    <label asp-for="Password" for="floatingPassword">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="RepeatPassword" type="password" class="form-control" id="floatingPassword" placeholder="Password" value="@repeatPassword">
                    <label asp-for="RepeatPassword" for="floatingPassword">Repeat password</label>
                    <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                </div>
                <div class="col-md-12 text-center mt-4 mb-4">
                    <button type="submit" class="btn btn-primary px-5 py-1 btn-lg rounded-pill">Set password</button>
                </div>
            </form>
        </div>
    </div>
</div>