@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://petprojectsstorage2.blob.core.windows.net/userprofileimagescontainer/698e3b86-6a6f-42aa-894f-d2c4e10ba9f9.jpg" />
</div>
