@using JobBoardPlatform.PL.ViewModels.Models.Email;

@model ResetPasswordEmailViewModel

<div>
    We noticed you're having trouble accessing your account at @(GlobalPL.Configuration.ApplicationName). 
    <br>
    No worries! To reset your password, click on the following link: <br>
    @(Model.ResetPasswordLink)
    <br>
    <br>
    If you didn't request this change, please contact us immediately.
    <br>
    <br>
    Best regards, <br>
    @(GlobalPL.Configuration.ApplicationName)
</div>