<li class="nav-item border border-primary rounded-pill dropdown mx-2 px-2 bg-primary">
    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign in</a>
    <div class="dropdown-menu dropdown-menu-end mt-3">
        <a class="dropdown-item d-flex flex-row align-items-center py-2" asp-controller="EmployeeLogin" asp-action="Login">
            <i class="bi bi-person-fill me-2" style="font-size:1.2rem"></i>
            Sign in as a developer
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item d-flex flex-row align-items-center py-2" asp-controller="CompanyLogin" asp-action="Login">
            <i class="bi bi-buildings-fill me-2" style="font-size:1.2rem"></i>
            Sign in to Employer Panel
        </a>
    </div>
</li>

