@model UserRegisterViewModel
@{
    ViewData["Title"] = "Employee";
}

<div class="d-flex flex-column aligns-items-center justify-content-center min-vh-100 mx-auto" style="max-width: 762px; margin-top: -56px;">
    <h1 class="text-center">Register</h1>
    <!-- Render authorization buttons -->
    @{
            ViewData["AuthorizationButtonsText"] = "Register with";
    }
    @await Html.PartialAsync("./Login/_LoginProviderButtons", Model)

    <!-- Render shared login form and pass controller name -->
    @{
        ViewData["LoginControllerName"] = "EmployeeLogin";
    }
    @await Html.PartialAsync("./Register/_Register", Model)
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
