@model UserRegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="d-flex flex-column aligns-items-center justify-content-center min-vh-100 mx-auto" style="max-width: 762px; margin-top: -56px;">
    <h2 class="text-center">Apply with Just One Click!</h2>
    <!-- Render authorization buttons -->
    @{
            ViewData["AuthorizationButtonsText"] = "Register with";
    }
    @await Html.PartialAsync("./Login/_LoginProviderButtons", Model)

    <form method="post">
        <!-- Render shared login form and pass controller name -->
        @{
            ViewData["LoginControllerName"] = "EmployeeLogin";
        }
        @await Html.PartialAsync("./Register/_Register", Model)
    </form>
</div>