@using JobBoardPlatform.DAL.Models.Enums;
@using JobBoardPlatform.PL.ViewModels.Offer.Company.Contracts;
@using JobBoardPlatform.PL.ViewModels.Contracts;

@model IMainTechnology
@{
    var fields = Enum.GetValues(typeof(MainTechnologyTypeEnum))
        .Cast<MainTechnologyTypeEnum>()
        .ToArray();
}

<div class="d-flex btn-group flex-wrap" data-toggle="buttons">
    @for (int i = 0; i < fields.Length; i++)
    {
    <div class="d-flex mx-2 flex-column justify-content-center align-items-center radio-button-area" onclick="selectField('mainFieldInput_@i')">
        <label asp-for="MainTechnologyType" class="d-flex flex-column align-items-center btn btn-secondary p-3 text-center mainField" for="option4">
            <i class="d-flex justify-content-center align-items-center border rounded-circle bi bi-display mainFieldImg" id="mainFieldImg" style="width: 3rem; height: 3rem; font-size: 1.4rem;"></i>
            @fields[i].ToString()
        </label>
            <input asp-for="MainTechnologyType" id="mainFieldInput_@i" class="mainFieldInput" type="radio" name="MainTechnologyType" value="@(i+1)" checked="checked"
        style="position: absolute; opacity: 0; pointer-events: none;" />
    </div>
    }
</div>

<script>

    var radioButtons = document.getElementsByClassName('mainFieldInput');
    checkTechnologyWidget(radioButtons[0]);

    function selectField(value) 
    {
        var radioButtons = document.getElementsByClassName('mainFieldInput');

        for (var i = 0; i < radioButtons.length; i++) 
        {
            var element = radioButtons[i];
            uncheckTechnologyWidget(element);
        }

        var selectedRadioButton = document.querySelector('#'+value);
        checkTechnologyWidget(selectedRadioButton);
    }

    function checkTechnologyWidget(element) {
        element.checked = true;

        // Add 'active' class to parent element of selected radio button
        var label = element.parentElement.querySelector('.mainField');
        label.classList.add('text-primary');

        var img = label.querySelector('.mainFieldImg');
        img.classList.add('border-primary');
    }

    function uncheckTechnologyWidget(element) {
        element.checked = false;

        var label = element.parentElement.querySelector('.mainField');
        label.classList.remove('text-primary');

        var img = label.querySelector('.mainFieldImg');
        img.classList.remove('border-primary');
    }
</script>