@model ITechKeywords

<div class="form-group">
    <input id="keywordsInput" type="text" class="form-control" />
    <div id="keywordsList" class="list-group mt-2 d-flex flex-row flex-wrap">
        <div id="templateTechKeyWordWidget" class="rounded-pill align-content-center justify-content-center bg-info px-2 mx-1 techKeyWord-container" style="display:none;">
            <div class="d-flex flex-row techKeyword-sub-container">
                <div class="text-light techKeyWordContent">C#</div>
                <div class="mx-1"></div>
                <button type="button" class="removeElementButton bg-transparent border-0 align-self-center">
                    <i class="bi bi-x-lg text-secondary" style="font-size: 0.8rem;"></i>
                </button>
                <input asp-for="TechKeywords" class="techKeywordValue" style="display:none;" />
            </div>
        </div>
    </div>
</div>

<script>
    var keywordsInput = document.getElementById('keywordsInput')

    keywordsInput.addEventListener('keydown', function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            var input = this.value.trim();
            if (input !== '') 
            {
                var index = document.getElementsByClassName('techKeyword-container-added').length;
                var keywordWidget = document.getElementById('templateTechKeyWordWidget');

                addNewTechnologyWidget(keywordWidget, index);
            }
            this.value = '';
        }
    });

    function addNewTechnologyWidget(template, index) {

        var newElement = template.cloneNode(true);

        var input = newElement.querySelector('.techKeywordValue');
        input.setAttribute("asp-for", "TechKeywords[" + index + "]");
        input.setAttribute("index-in-list", index);
        input.value = keywordsInput.value;

        var content = newElement.querySelector('.techKeyWordContent');
        content.innerHTML = keywordsInput.value;

        newElement.style.display = null;
        newElement.classList.add("techKeyword-container-added");

        var deleteButton = newElement.querySelector('.removeElementButton');
        deleteButton.addEventListener('click', function () {
            onTechnologyWidgetRemove(index);
            newElement.remove();
        });

        document.getElementById('keywordsList').appendChild(newElement);
    }

    function onTechnologyWidgetRemove(removedWidgetIndex) {

        var technologyWidgets = document.getElementsByClassName('techKeyword-container-added');
        for (var i = 0; i < technologyWidgets.length; i++) 
        {
            var input = technologyWidgets[i].querySelector('.techKeywordValue');
            var index = input.getAttribute("index-in-list");
            if (index > removedWidgetIndex)
            {
                index -= 1;
            }
            input.setAttribute("index-in-list", index);
            input.setAttribute("asp-for", "TechKeywords[" + index + "]");
        }
    }
</script>