@using JobBoardPlatform.PL.ViewModels.OfferViewModels.Company;

@model CompanyOffersViewModel
@{
    var offerCards = Model.JobOffers;
}

<div class="container-xl px-4 mt-4">

    <!-- Account page navigation-->
    @await Html.PartialAsync("./ProfileTabs/_CompanyProfileTabs")

    <div class="card mb-5">
        <div class="card-header">Account type</div>
        <div class="card-body d-flex flex-row justify-content-between align-items-center">
            <h5 class="mb-0">
                INDIE
            </h5>
            <a asp-controller="CompanyManageOffer" asp-action="NewOffer" class="btn btn-primary">
                Change account type
            </a>
        </div>
    </div>

    <div class="card flex-grow-1">
        <div class="card-header d-flex flex-row justify-content-between align-items-center">
            <div class="d-flex flex-row">
                <div class="d-flex flex-row justify-content-center align-content-center me-3">
                    <div class="d-flex flex-column justify-content-center me-1">
                        Date
                    </div>
                    <div>
                        <i class="d-flex flex-column justify-content-end bi bi-caret-up" style="font-size: 0.75rem;"></i>
                        <i class="d-flex flex-column justify-content-start bi bi-caret-down" style="font-size: 0.75rem;"></i>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div class="align-self-center form-check form-switch me-3">
                    <input id="edit-toggle" class="form-check-input" type="checkbox">
                    <label class="form-check-label" for="edit-toggle">Edit</label>
                </div>
                <a asp-controller="CompanyOfferEditor" asp-action="NewOffer" class="btn btn-primary">
                    New Ad
                </a>
            </div>
        </div>
        <div class="bg-dark bg-opacity-10">
            @if (offerCards != null && offerCards.Count > 0)
            {
                @foreach (var card in offerCards)
                {
                    <div id="company-offer-card-container-@card.CardDisplay.Id">
                        @await Html.PartialAsync("./JobOffers/_JobOfferCompanyView", card)
                    </div>
                }
            }
        </div>
    </div>
</div>

<script>
    const cardDataClass = "company-card-view-data";
    const cardActionsClass = "company-card-actions";

    const editToggle = document.getElementById("edit-toggle");

    editToggle.addEventListener("change", (event) => {
        toggleVisibilityOfCards()
    });

    function toggleVisibilityOfCards()
    {
        const isEdit = editToggle.checked;

        const cardsCompanyData = document.getElementsByClassName(cardDataClass);
        const cardsActions = document.getElementsByClassName(cardActionsClass);

        for (let i = 0; i < cardsCompanyData.length; i++)
        {
            const cardData = cardsCompanyData[i];
            const cardAction = cardsActions[i];

            toggleCardVisibility(isEdit, cardData, cardAction);
        }
    }

    function toggleCardVisibility(isEdit, cardData, cardAction)
    {
        if (isEdit) 
        {
            cardData.classList.remove("d-flex");
            cardData.classList.add("d-none");

            cardAction.classList.remove("d-none");
            cardAction.classList.add("d-flex");
        }
        else 
        {
            cardData.classList.remove("d-none");
            cardData.classList.add("d-flex");

            cardAction.classList.remove("d-flex");
            cardAction.classList.add("d-none");
        }
    }

    function toggleVisibility(offerId, action, isVisible) 
    {
        const data = { offerId: offerId, isVisible: isVisible };
        sendOfferUpdateStateRequest(action, data);
    }

    function toggleDeleted(offerId, action, isDeleted) 
    {
        const data = { offerId: offerId, isDeleted: isDeleted };
        sendOfferUpdateStateRequest(action, data);
    }

    function sendOfferUpdateStateRequest(action, data) 
    {
        console.log(action);
        console.log(data)

        $.ajax({
            url: action,
            method: 'POST',
            data: data,
            success: function (result) {
                const id = data.offerId;
                const selector = `#company-offer-card-container-${id}`;
                const element = $(selector);
                element.html(result);

                console.log(element);
                var cardData = element.find(`.${cardDataClass}`).get(0);
                console.log(`.${cardDataClass}`);
                console.log(cardData);
                var cardAction = element.find(`.${cardActionsClass}`).get(0);

                console.log(cardAction);
                toggleCardVisibility(true, cardData, cardAction);
            },
            error: function (xhr, status, error) {
                console.error(status);
                console.error(error);
            }
        });
    }
</script>