@using JobBoardPlatform.PL.ViewModels.Models.Templates;

@model CardsContainerViewModel

<div class="container-xl px-4 pt-4">

    <!-- Account page navigation-->
    @await Html.PartialAsync("./ProfileTabs/_ProfileTabs")

    <div class="card flex-grow-1">
        <div class="card-header d-flex flex-row justify-content-between align-items-center">
            <div class="d-flex flex-row">
                <div class="d-flex flex-row justify-content-center align-content-center me-3">
                    Created Ads
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <a asp-controller="CompanyOfferEditor" asp-action="Editor" class="btn btn-primary">
                    New Ad
                </a>
            </div>
        </div>
        <div id="cards-container">
            @await Html.PartialAsync("./Templates/_CardsContainer", Model)
        </div>
    </div>
</div>

<script>
    function toggleVisibility(offerId, action, isVisible) 
    {
        const data = { offerId: offerId, isVisible: isVisible };
        sendOfferUpdateStateRequest(action, data);
    }

    function toggleDeleted(offerId, action, isDeleted) 
    {
        const data = { offerId: offerId, isDeleted: isDeleted };
        sendOfferUpdateStateRequest(action, data);
    }

    function sendOfferUpdateStateRequest(action, data) 
    {
        console.log(action);
        console.log(data)

        $.ajax({
            url: action,
            method: 'POST',
            data: data,
            success: function (result) {
                const id = data.offerId;
                const selector = `#company-offer-card-container-${id}`;
                const element = $(selector);
                element.html(result);

                console.log(element);
                var cardData = element.find(`.${cardDataClass}`).get(0);
                console.log(`.${cardDataClass}`);
                console.log(cardData);
                var cardAction = element.find(`.${cardActionsClass}`).get(0);

                toggleCardVisibility(true, cardData, cardAction);
            },
            error: function (xhr, status, error) {
                console.error(status);
                console.error(error);
            }
        });
    }
</script>