@model UserLoginViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-column aligns-items-center justify-content-center mh-100">
    <h1 class="text-center">Login in to Employer Panel</h1>
    <!-- Render shared login form and pass controller name -->
    @{
        ViewData["RegisterControllerName"] = "CompanyRegister";
    }
    @await Html.PartialAsync("./Login/_Login", Model)
</div>