@using JobBoardPlatform.PL.Interactors.Notifications;
@model NotificationData

@if (Model != null)
{
    @if (Model.Type == NotificationType.ActionDoneEmail)
    {
        <div class="small alert alert-dismissible alert-primary">
            <i class="bi bi-envelope me-1"></i> @Model.Text
        </div>
    }
    else if (Model.Type == NotificationType.Success)
    {
        <div class="small alert alert-dismissible alert-success">
            <i class="bi bi-check-all me-1"></i> @Model.Text
        </div>
    }
    else if (Model.Type == NotificationType.Error)
    {
        <div class="small alert alert-dismissible alert-danger">
            <i class="bi bi-exclamation-diamond-fill me-1"></i> @Model.Text
        </div>
    }
}